{% macro main() %}
<main class="flex-grow flex py-6 w-full">
  <div class="flex flex-col gap-4 w-1/5 border-r border-gray-200 px-4">
    <div class="flex gap-6">
      <a href="" class="a-c">New Project</a>
      <a href="" class="a-c">Open Project</a>
    </div>



  </div>

  <div class="flex flex-col gap-4 px-12 w-4/5">
    <div class="flex">
      <p class="h2-c mr-auto">project name</p>

      <div class="flex gap-4">
        <button class="thin-btn-c">clear</button>
        <button class="solid-btn-c">save</button>
      </div>
    </div>

    <div class="flex-grow">
      <p>placeholder</p>
    </div>


    <div class="flex">
      <div class="flex gap-12 ml-auto">
        <button class="thin-btn-c">finish</button>
        <div class="flex gap-4">
          <button class="solid-btn-c">prev</button>
          <button class="solid-btn-c">next</button>
        </div>
      </div>
    </div>
  </div>
</main>
{% endmacro %}
